@{
    ViewData["Title"] = "Quản lý Blog";
}
@section Styles {
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
}
<div class="blog__manger__container">
    <div id="react-editor"></div>
</div>