<div class="footer__content">
    <img src="@Url.Content("~/images/logo4.png")" alt="Logo Company">
    <p>Write description here</p>
    <div class="icons">

        <a href="https://www.facebook.com/TriluxGroup" target="_blank" rel="noopener noreferrer">
            <i class="ri-facebook-fill"></i></i>
        </a>

        <a href="#"><i class="ri-twitter-x-line"></i></a>
    </div>
</div>

<div class="footer__content">
    <h4>Info</h4>
    <li><i class="ri-map-pin-add-line"></i>&nbsp;Ottawa, ON, Canada, Ontario</li>
    <li><i class="ri-phone-line"></i>&nbsp;+1 613-712-5368</li>
    <li><a asp-controller="Home" asp-action="Index"><i class="ri-link"></i>&nbsp;Triluxury.com</a></li>
    <li><i class="ri-mail-line"></i>&nbsp;Email</li>
</div>

<div class="footer__content">
    <h4>Pages</h4>
    <li><a asp-controller="Home" asp-action="About">About</a></li>
    <li><a href="#">Projects</a></li>
    <li><a asp-controller="Home" asp-action="News">News</a></li>
    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
</div>

<div class="footer__content">
    <h4>Service</h4>
    <li><a href="#">Landscaping</a></li>
    <li><a href="#">Home Renovation</a></li>
    <li><a href="#">Staging</a></li>
    <li><a href="#">Cleaning</a></li>
    <li><a href="#">PROPERTY Maintenance</a></li>
</div>
