@{
    ViewData["Title"] = "Landscaping";
}
@section Styles {
    <link rel="stylesheet" href="~/css/swiper-slide.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/service.css" asp-append-version="true" />
}

<div id="react-slider"></div>


<div id="blog-landscaping-list"></div>
