@{
    ViewData["Title"] = "About";
}
@section Styles {
    <link rel="stylesheet" href="~/css/introduce.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/blog.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/swiper-slide.css" asp-append-version="true" />
}

<div id="react-slider"></div>
@* 
<div class="blog__content__container">
    <div id="blog-about-container"></div>
</div> *@


<div class="blog__content__container">
    <div id="single-blog-container" data-blog-id="2"></div>
</div>